<div class="container my-3">
    <div class="row bg-info rounded shadow text-white" >
        <div class="col-10">

            <h1>Sediqwe és a Ruby On Rails programozás</h1>
            
            <li>Aug 28.:<br>
            Mostantól elérhető a menüből is a USER kezelés<br>
            Kezeli a rendszer a GRAVATAR képeket.<br>
            Javítva a csomó rossz helyre mutató link<br>
            Újra szabva a user editálás menü<br>
            Megjelenik a USER -> BLOGPOST kapcsolat<br>
            Error rendszer univerzálissá szabva<br>
            User listázás átgrafikázva<br>
            
            
            </li>
            
            
            
            <li>Aug 26.:<br>
            Megszületett a User adattábla<br>
            Több - Egy , Egy - Több kapcsolat lefektetve<br>
            Beépítve a BCrypt gem<br>
            Megírva a regisztrálás menü<br>
            Megírva a User adatmódosítás(Félig)<br>
            Kijavítva a User adatmódosítás!<br>>
            
            
            
            </li>
            
            <li> Aug 25.:<br>
            Átírva a blogbejegyzés kijelzés<br>
            Megjelent a SHOW page<br>
            Új menüpontok<br>
            Rólam menü átírva<br>
            User Model elkészítve<br>
            User validáció megírva<br>
            Keretrendszer frissítve<br>
            
            
            </li>



            <li>Juli 26.:<br>
            Formázott edit menü<br>
            Megreformált hibaüzenet rendszer<br>
            
            
            
            </li>
            
            
            <li>Juli 24.:<br>
            Megjelent a felső menüsor<br>
            Első kód kiemelések _file <br>
            Bootstrap, Jquery <br>
            Footer került mindenhova <br>
            </li>
            <li>Jul 23.:<br>
                Gombok magyarítva lettek<br>
                Frissült a futtató környezet<br>
                Elkészült a blog bejegyzés törlése DESTROY            
            
            </li>

            <li>Jul 7.: <br>Edit befejezve</li>
            <li>
                Jul 6.: <br>
                Első Heroku szerver feltöltés.<br>
                Elkészült az Article Index , Show, Edit<br>
                Kezdetleges errors kijelzés


            </li>
            <li>Jul 3.:<br> Első validate kezdemény bekerült a NEW Article rendszerbe.</li>
            <li>Jul 2.:<br> Első github feltöltés, még csak a sima keretrendszer.</li>
        </div>
    </div>
</div>