<div class="container my-3">
    <div class="row bg-info rounded shadow text-white" >
        <div class="col-10">

            <h1>Pittyu és a Ruby On Rails</h1>
            Ez valami borzalom unlogikátlan logikai katymasz, legalábbis még most... és gyanítom hogy így is marad :D
        </div>
    </div>
</div>