 <div id="page-content">

<div class="container" id="home_div">

<div class="jumbotron text-center text-dark">
  <h1 class="display-4">Helló világ!</h1>
  <p class="lead">Hogy rohadjon meg aki kitalálta a Rubyt :)</p>
  <hr class="my-4">
  <p>Enyire könnyen azért nem adom magam...</p>
  <a class="btn btn-primary btn-lg" href="/articles" role="button">BLOG</a>
</div>
</div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright 2020 &copy; sediqwe.com</small>
    </div>
  </footer>