<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  
  <%= link_to 'Sediqwe.com', root_path, class:'nacbr-brand' , id: 'logo' %>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
      <%= link_to "Rólam", about_path, class: "nav-link" %>
        
      </li>
      <li class="nav-item">
        <%= link_to "Blog", articles_path, class: "nav-link" %>
      </li>
      
     
    </ul>
   
  </div>
</nav>